app/views/customerView.php
app/views/deliveryView.php
app/views/salesView.php

app/models/CustomerModel.php
app/models/DeliveryModel.php
app/models/SalesModel.php

app/controllers/CustomerController.php
app/controllers/DeliveryController.php
app/controllers/SalesController.php

app/views/customer.php
app/views/delivery.php
app/views/sales.php
